<HTML>
	<HEAD>
		<TITLE>Error</TITLE>
	</HEAD>
	<BODY>
		<DIV id = 'header'><H1><%=data.type%> Error!</H1></DIV>
		<DIV id = 'body'>
		<img src="images/sad_face.jpeg">
		</DIV>
		<DIV id = 'footer'></DIV>
	</BODY>
</HTML>