<HTML>
	<HEAD>
		<TITLE>JSON-driven Server</TITLE>
	</HEAD>
	<BODY>
		<DIV id = 'header'><H1>Hello World!</H1></DIV>
		<DIV id = 'body'>
		  <% data.forEach(function(user){ %>
		    <h2><%= user.username %></h2>
			<ul>
			  <li>password: <%= user.password %></li>
			  <li>email: <%= user.email %></li>
			</ul>
		  <% }); %>
		</DIV>
		<DIV id = 'footer'></DIV>
		<script src="js/scripts.js"></script>
	</BODY>
</HTML>